* {
  transition: all 500ms ease; }

*, *:after, *:before {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow: hidden;
  font-family: 'Rubik', sans-serif; }

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(315deg, #55efcb 0%, #1e5799 0%, #55efcb 0%, #5bcaff 100%); }

.root {
  height: 100%;
  overflow: hidden; }

.app {
  width: 600px;
  height: 100%;
  overflow: hidden;
  margin: auto;
  margin-top: 5%; }
  .app h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 4em;
    color: #0d47a1;
    font-family: 'Rubik', sans-serif; }

.game {
  height: 100%;
  overflow: hidden; }

.board {
  width: 100%;
  height: 600px; }
  .board:after {
    content: "";
    display: table;
    clear: both; }

.footer {
  width: 500px;
  margin: auto;
  margin-top: 10px; }
  .footer a {
    text-align: center;
    font-size: 1em !important;
    display: block;
    font-family: 'Rubik', sans-serif;
    color: #d84315; }
  .footer .warnings {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #311b92; }
    .footer .warnings-draw {
      color: #c62828; }
  .footer .movements {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    color: #424242; }

.box {
  margin: 0;
  padding: 0;
  float: left;
  width: 33.33%;
  height: 33.33%;
  color: #424242;
  font-size: 600%;
  line-height: 200%;
  text-align: center;
  font-weight: 800;
  vertical-align: middle;
  cursor: pointer; }
  .box-wait {
    cursor: auto;
    background: none; }
    .box-wait:hover {
      background: none !important; }
  .box-off {
    transition: none;
    cursor: auto;
    color: rgba(0, 0, 0, 0.2); }
    .box-off:hover {
      background: none !important; }
  .box-winner {
    text-decoration: line-through;
    transition: none;
    color: red; }
  .box label {
    font-family: 'Rubik', sans-serif; }
    .box label.empty {
      display: none;
      cursor: pointer; }
  .box:hover {
    background: rgba(255, 255, 255, 0.2); }
    .box:hover label.empty {
      display: block; }
  .box:nth-of-type(2) {
    border-top: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3); }
  .box:nth-of-type(5) {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3); }
  .box:nth-of-type(8) {
    border-top: 0;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    border-left: 2px solid rgba(255, 255, 255, 0.3); }
  .box:nth-of-type(4), .box:nth-of-type(6) {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

@media only screen and (max-width: 800px) {
  .app {
    width: 300px;
    margin-top: 25%; }
    .app h2 {
      font-size: 1.8em; }
  .board {
    height: 300px;
    font-size: 50%;
    line-height: 200%; }
  .warnings {
    width: 300px; } }
