$cborder: rgba(255,255,255,0.3);
$wborder: 2px;
$iconx:  "\f00d";
$icono:  "\f10c";

*{
  transition: all 0.5s ease
}
*, *:after, *:before {
outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	height: 100%;
	overflow: hidden;
}
body {

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	height: 100%;
	overflow: hidden;

   background: -webkit-linear-gradient(315deg, #55efcb 0%, #1e5799 0%, #55efcb 0%, #5bcaff 100%);
   background: linear-gradient(315deg, #55efcb 0%, #1e5799 0%, #55efcb 0%, #5bcaff 100%);
}


.root {
	height: 100%;
	overflow: hidden;
}
.app {
	height: 100%;
	overflow: hidden;
}
.game {
	height: 100%;
	overflow: hidden;
}
.board {
	width: 500px;
	height: 500px;
	margin: auto;
	margin-top: 15%;
	&:after{
		 content: "";
		display: table;
		clear: both;
	}
}
.warnings{
	width: 500px;
	margin: auto;
	margin-top:10px;
	text-align: center;
}

.box {
	margin:0;
	padding:0;
	float: left;
	width: 33.33%;
	height: 33.33%;	
	color: rgba(78,52,46 ,1);	
	font-size:600%;
	line-height:200%;
	text-align: center;
	vertical-align: middle;
	cursor:pointer;
	&-wait{
		cursor: wait;
		background:none;
		&:hover{
			background:none !important;
		}	
	}
	label{			
		font-family: 'Rubik', sans-serif;
		&.empty{
			display:none;
			cursor:pointer;	
		}
	}
	&:hover{
		background:rgba(255,255,255,0.2);			
		label.empty{			
			display:block;				
		}			
	}
	&:nth-of-type(2) {
		border-top:0;
		border-right:$wborder solid $cborder;
		border-left:$wborder solid $cborder;
	}
	&:nth-of-type(5) {
		border-top:$wborder solid $cborder;
		border-bottom:$wborder solid $cborder;
		border-right:$wborder solid $cborder;
		border-left:$wborder solid $cborder;
	}		
	&:nth-of-type(8) {
		border-top:0;
		border-right:$wborder solid $cborder;
		border-left:$wborder solid $cborder;
	}
	&:nth-of-type(4) , 
	&:nth-of-type(6) {  
		border-top:$wborder solid $cborder;
		border-bottom:$wborder solid $cborder;
	}
}

  @media only screen and (max-width: 800px) {
   .board {
      width: 300px;
      height: 300px;
      font-size: 50%;
      line-height: 200%;      
    }

	.warnings{
		width: 300px;
	}
}